{% extends "layout.twig" %}
{% block center %}
    <div class="container">
        <div class="page-header text-center">
            <h1>{{ 'User Center'|T }}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4"><label>{{ 'user_id'|T }}: </label></div><div class="col-md-8">{{ user.user_id }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>{{ 'username'|T }}: </label></div><div class="col-md-8">{{ user.name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>{{ 'user department'|T }}: </label></div><div class="col-md-8">{{ user.department }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>{{ 'superuser'|T }}: </label></div><div class="col-md-8">{% if user.superuser %} <span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>{{ 'roles'|T }}: </label></div><div class="col-md-8">{{ user.roles }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>{{ 'created_at'|T }}: </label></div><div class="col-md-8">{{ user.created_at }}</div>
                </div>
            </div>
            <div class="col-md-6">
                {% set msg = old('msg') %}
                {% if msg %}
                    <div class="alert alert-{{ msg.type }}">{{ msg.message|T }}</div>
                {% endif %}
                <form class="form" role="form" id="form_user" method="post">
                    <div class="form-group">
                        <label class="control-label" for="txt_label">{{ 'userlabel'|T }}</label>
                        <input class="form-control" name="label" type="text" id="txt_label" value="{{ user.label }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_email">{{ 'email'|T }}</label>
                        <input class="form-control" name="email" type="text" id="txt_email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_descr">{{ 'descr'|T }}</label>
                        <input class="form-control" name="descr" type="text" id="txt_descr" value="{{ user.descr }}">
                    </div>
                    <input type="hidden" name="csrf_code" value="{{ csrf_code }}">
                    <button class="btn btn-primary" type="submit">{{ 'Submit'|T }}</button>
                    <button class="btn btn-default" type="reset">{{ 'Reset'|T }}</button>
                    <a href="{{ getConfig('base_url') }}" class="btn btn-default" type="button">{{ 'Return'|T }}</a>
                </form>
            </div>
        </div>
        <script>
            function init_center() {

            }
        </script>
    </div>
{% endblock %}