{% extends "layout.twig" %}
{% block center %}
    <div class="container">
        <div class="page-header text-center">
            <h1>{{ 'User Center'|T }}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if msg is defined %}
                    {{ component('alert', {'level': msg.type, 'data': {"message": msg.message|T}}) }}
                {% endif %}
                <form class="form" role="form" id="form_user" method="post" action="/auth/user_edit">
                    <div class="form-group">
                        <label class="control-label" for="txt_id" id="lb_id">{{ 'user_id'|T }}</label>
                        <input class="form-control" name="user_id" type="text" id="txt_id" value="{{ user.user_id }}" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_name">{{ 'username'|T }}</label>
                        <input class="form-control" name="name" type="text" id="txt_name" value="{{ user.name }}" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_label">{{ 'label'|T }}</label>
                        <input class="form-control" name="label" type="text" id="txt_label" value="{{ user.label }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_email">{{ 'email'|T }}</label>
                        <input class="form-control" name="email" type="text" id="txt_email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="txt_descr">{{ 'descr'|T }}</label>
                        <input class="form-control" name="descr" type="text" id="txt_descr" value="{{ user.descr }}">
                    </div>
                    <button class="btn btn-primary" type="submit">{{ 'Submit'|T }}</button>
                    <button class="btn btn-default" type="reset">{{ 'Reset'|T }}</button>
                    <a href="/auth/info" class="btn btn-default" type="button">{{ 'Return'|T }}</a>
                </form>
            </div>
        </div>
        <script>
            function init_center() {

            }
        </script>
    </div>
{% endblock %}