{% extends "layout.twig" %}
{% block center %}
    <div class="center_align">
        <h1>{{ 'authentication failed'|T }}</h1>
        <br>
        <div>
            <h5>{{ 'contact administrator'|T }}</h5>
        </div>
        <br><br><br>
        <div>
            <a class="btn btn-primary" href="{{ getConfig('defined_routes.login') }}">{{ 'Login'|T }}</a>
            <a class="btn btn-default" href="{{ getConfig('base_url') }}">{{ 'Return'|T }}</a>
        </div>
    </div>
{% endblock %}