{% extends"admin/home.twig" %}
{% block title %}{{ 'Department Management'|T }}{% endblock %}
{% block sidenav_0 %}{% endblock %}
{% block sidenav_1 %}active{% endblock %}
{% block center %}
    <div class="row">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="/admin/add_department" role="button"><span class="glyphicon glyphicon-plus"></span> {{ 'New Department'|T }}</a>
            <a class="btn btn-default" href="/admin/home" role="button"><span class="glyphicon glyphicon-home"></span> {{ 'Return'|T }}</a>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table" id="tb_role"></table>
    </div>
    <script>
        function init_center() {
            var head = {{ departments_head|J }};
            for (var i in head) {
                if (head[i]['field'] == 'department_id') {
                    head[i]['formatter'] = function (val, row, index) {
                        return '<a href="/admin/departments?department_id=' + val + '">' + val + '</a>';
                    };
                }
            }
            head.push({
                field: 'operation',
                title: '{{ 'operation'|T }}',
                formatter: function (val, row, index) {
                    var opts = ['<button class="btn btn-link del">{{ 'Delete'|T }}</button>'];
                    return opts.join(' ');
                },
                'events': {
                    'click .del': function (ent, val, row, index) {
                        BootstrapDialog.confirm("{{ 'confirm delete'|T }}", function (re) {
                            if (re) {
                                var url = '/admin/delete_department';
                                var pdata = {"department_id": row['department_id']};
                                $.post(url, pdata, function (data) {
                                    //                                    console.log(data);
                                    if (data['result']) {
                                        location.reload();
                                    } else {
                                        BootstrapDialog.alert('{{ 'delete failed'|T }}');
                                    }
                                });
                            }
                        });
                    }
                }
            });
            $('#tb_role').bootstrapTable({
                columns: head,
                data: {{ departments|J }},
                sortable: true,
                striped: true,
                search: true,
                pagination: true
            });
        }
    </script>
{% endblock %}