{% extends"admin/home.twig" %}
{% block title %}{{ 'Plugin Management'|T }}{% endblock %}
{% block sidenav_0 %}{% endblock %}
{% block sidenav_4 %}active{% endblock %}
{% block center %}
    <div class="row">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="/admin/home" role="button"><span class="glyphicon glyphicon-home"></span> {{ 'Return'|T }}</a>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table" id="tb_plugin"></table>
    </div>
    <script>
        function init_center() {
            var head = {{ plugins_head|J }};
            for (var i in head) {
                if (head[i]['field'] == 'enabled') {
                    head[i]['formatter'] = booleanFormatter;
                }
            }
            head.push({
                field: 'operation',
                title: '{{ 'operation'|T }}',
                events: {
                    'click .bt_dis': function (evt, val, row, index) {
                        $.post('/admin/disable_plugin', {id: row['id']}, function (data) {
                            location.reload();
                        });
                    },
                    'click .bt_enb': function (evt, val, row, index) {
                        $.post('/admin/enable_plugin', {id: row['id']}, function (data) {
                            location.reload();
                        });
                    }
                },
                formatter: function (val, row, index) {
                    if (row['enabled']) {
                        var bt = '<div class="text-center"><button class="btn btn-link bt_dis"><span class="glyphicon glyphicon-minus-sign"></span></button></div>';
                    } else {
                        var bt = '<div class="text-center"><button class="btn btn-link bt_enb"><span class="glyphicon glyphicon-plus-sign"></span></button></div>';
                    }
                    return bt;
                }
            });
            $('#tb_plugin').bootstrapTable({
                columns: head,
                data: {{ plugins|J }},
                sortable: true,
                striped: true,
                search: true
            });
        }
    </script>
{% endblock %}