{% extends "layout.twig" %}
{% block center %}
    <div class="center_align">
        <h1>{{ 'server error'|T }} ({{ code }})</h1>
        <br>
        <p>{{ message|T }}</p>
        <br><br><br>
        <div>
            <a class="btn btn-default" href="{{ getConfig('base_url') }}">{{ 'Return'|T }}</a>
        </div>
    </div>
{% endblock %}