{% extends "layout.twig" %}
{% block center %}
    <div class="container">
        <div class="page-header text-center">
            <h1>{{ title|T }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" role="form" id="form_pwd" action="{{ getConfig('defined_routes.change_password')|U }}" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ 'Old Password'|T }}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="old" placeholder="{{ 'Old Password'|T }}" tabindex="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ 'New Password'|T }}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="new1" placeholder="{{ 'New Password'|T }}" tabindex="2" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">{{ 'Retype Password'|T }}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="new2" placeholder="{{ 'Retype Password'|T }}" tabindex="2" required>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_code" value="{{ csrf_code }}">
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="button" id="submit" tabindex="3">{{ 'Submit'|T }}</button>
                        <button class="btn btn-default" type="reset" id="reset" tabindex="4">{{ 'Reset'|T }}</button>
                    </div>
                    <div class="text-center" id="sec"></div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function init_center() {
            $('#form_pwd').bindEnter(function() {
                $("#submit").click();
            });
            $('#submit').click(function() {
                var fd = new FormData(document.getElementById('form_pwd'));
                $.ajax({
                    url: '{{ getConfig('defined_routes.change_password')|U }}',
                    type: 'POST',
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        var url = '/';
                        if (data.code == 23) {
                            BootstrapDialog.alert(data.error, function() {
                                location.href = url;
                            });
                        } else {
                            BootstrapDialog.alert(data.error);
                        }
                    },
                    error: function(data) {
                        BootstrapDialog.alert('{{ 'Error'|T }}');
                    }
                });
            });
        }
    </script>
{% endblock %}