{% extends "layout.twig" %}
{% block center %}
    <div class="container">
        <div class="page-header text-center">
            <h1>{{ 'login to have our service'|TI }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" role="form" id="form_login" action="{{ getConfig('defined_routes.login')|U }}" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-2"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="username" placeholder="{{ 'Username'|T }}" value="{{ old('login_username') }}" tabindex="1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-md-10">
                            <input class="form-control" type="password" name="password" placeholder="{{ 'Password'|T }}" tabindex="2" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"><span class="glyphicon glyphicon-certificate"></span></label>
                        <div class="col-md-5">
                            <input class="form-control" type="text" name="captcha" placeholder="{{ 'Captcha'|T }}" tabindex="3" required>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-link" type="button" id="bt_refcap"><img src="{{ captcha.inline() }}"> <span class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-1">
                            <a href="{{ getConfig('defined_routes.forget_password')|U }}">{{ 'Forget Password'|T }}</a>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <a href="{{ getConfig('defined_routes.signup')|U }}">{{ 'Sign Up'|T }}</a>
                        </div>
                    </div>
                    <input type="hidden" name="csrf_code" value="{{ csrf_code }}">
                    {#<div class="checkbox text-center">#}
                        {#<label><input type="checkbox" name="remember">{{ 'Remember me'|T }}</label>#}
                    {#</div>#}
                    <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit" id="submit" tabindex="3">{{ 'Login'|T }}</button>
                    </div>
                    {% set msg = old('msg') %}
                    {% if msg %}
                    <div class="alert alert-danger text-center">
                        {{ msg.message|T }}
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script>
        function init_center() {
            $('#bt_refcap').click(function() {
                $.get('{{ getConfig('defined_routes.update_captcha')|U }}', {}, function (data) {
                    $('#bt_refcap img').attr('src', data);
                });
            });
        }
    </script>
{% endblock %}